# -*- mode: conf -*-
# {{ ansible_managed }}

[nginx-http-auth]
enabled  = true

[nginx-botsearch]
enabled  = true

[nginx-4xx]
enabled  = true
port = http,https
filter   = nginx-4xx
logpath  = /var/log/nginx/access.log

maxretry = 50
findtime = 300
bantime  = 600

[nginx-errors]
enabled  = true
port = http,https
filter   = nginx-errors
logpath  = /var/log/nginx/error.log

maxretry = 10
findtime = 600
bantime  = 600
