# -*- mode: conf -*-
# {{ ansible_managed }}

[nginx-http-auth]
enabled  = true

[nginx-botsearch]
enabled  = true

[nginx-4xx]
enabled  = true
port     = http,https
filter   = nginx-4xx
logpath  = /var/log/nginx/access.log

# ban for 10 minutes if 12 bad requests in 1 minute
findtime = 60
maxretry = 12
bantime  = 600
