# -*- mode: nginx -*-
# {{ ansible_managed }}

location = /favicon.ico {
    log_not_found off;
    access_log off;
}

location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
}

# these vars are set up in /etc/nginx/global/custom_vars.conf
# 444 means close connection without sending response header
if ($denied_location) { return 444; }
if ($denied_user_agent) { return 444; }
